@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Open+Sans:wght@500&display=swap');

h1,
h2 {
  font-family: 'Open Sans';
}
p {
  max-width: 500px;
  font-family: 'Open Sans';
}
